spring:
  application:
    name: loan-rec-dev

  datasource:
    url: jdbc:postgresql://localhost:5432/npa-rec-dev
    username: admin
    password: admin123
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB

server:
  servlet:
    context-path: /backend

storage:
  location: uploads
